.item {
    margin-right: 100px;
    margin-bottom: 100px;
    z-index: 500;
    width: 395px;
    height: 560px;
}

.item__image {
    width: 395px;
    height: 560px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.item__desc {
    margin-top: 5px;
}

.item__desc h4{
    font-size: 19px;
    transition: all 0.2s ease-in-out;
}

.item__desc p {
    font-weight: 200;
    transition: all 0.5s ease-in-out;
}

/* .item__image:hover {
    transform: scale(0.9)
}

.item__image img:hover {
    transform: scale(1.4)
} */

.item:hover .item__image {
    transform: scale(0.9)
}

.item:hover .item__image img {
    transform: scale(1.4)
}

.item:hover .item__desc h4 {
    margin-left: 20px;
}

.item:hover .item__desc p {
    margin-left: 20px;
}

@media screen and (max-width: 1400px) {
    .item__image {
        width: 345px;
        height: 510px;
    }   
}

@media screen and (max-width: 1150px) {
    .item__image {
        width: 295px;
        height: 460px;
    }   
}

@media screen and (max-width: 1024px) {
    .item__image {
        width: 245px;
        height: 410px;
    }   
}

@media screen and (max-width: 700px) {
    .item {
        margin-right: 0;
    }

    .item__image {
        width: 100%;
    }
}